/*

TemplateMo 550 Diagoona

https://templatemo.com/tm-550-diagoona

*/

#loading{
  position: fixed;
  width:100%;
  height:100vh;
  background: #fff 
  url('../img/preloder.gif')
  no-repeat center ;
  z-index: 99999;
}



/* Page Background */
.tm-bg {
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    display: flex;
    z-index: -1000;
}

.tm-bg-left,
.tm-bg-right {
    position: relative;
    width: 100%;
    height: 100%;
}

.tm-bg-right { background-color: rgba(0,0,0,0.7); }

.tm-bg-left {
    border-right: 230px solid rgba(0,0,0,0.5);
    border-top: 100vh solid transparent;
}

.tm-bg-controls-wrapper {
    display: inline-block;
    margin-left: -150px;
}

.tm-bg-control {
    display: inline-block;
    width: 14px;
    height: 14px;
    background-color: rgba(255,255,255,0.5);
    margin: 6px;
    cursor: pointer;
}

.tm-bg-control.active,
.tm-bg-control:hover {
    background-color: transparent;
}

.tm-container {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;  
}



.tm-col-left {
    width: 50%;
    height: 100%;
    padding-left: 40px;  
    padding-right: 40px;
}

.tm-col-right {
    width: 50%;
    height: 100%;
    padding-left: 70px;
    padding-right: 70px;
}

.tm-content {
    max-width: 660px;
    margin-top: 50px;
    padding-right: 20px;
}


  

}

.tm-content-title { font-size: 2rem; }
hr { border-top: 1px solid transparent; }

.btn {
    padding: 2% 2%;
    border-radius: 0;
	margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
   -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
	
}


  


.btn-big {
    padding: 9px 40px;
    font-size: 1.2rem;;
}

.btn-primary {
    background-color: transparent;
    color: black;
    border: 0;
}











    
    .